@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  min-height: 100vh;
  background: rgba(51, 51, 51, 1);
  display: flex;
}

body {
  margin: 0;
  width: 100%;
}

#content {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}