@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Définition des variables */
:root {
  --main-cyan-color: #1B8684;
  --main-cyan-light-color: #34D6D3;
  --main-bg-light-color: #333333;
  --main-bg-color: #242424;
  --main-primary-text: #ffff;
  --main-secondary-text: #D9D9D950;
}

/* ===== Scrollbar CSS =====
/* Firefox */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--main-cyan-color);
}

html {
  min-height: 100vh;
  background: var(--main-bg-light-color);
  display: flex;
}

body {
  margin: 0;
  width: 100%;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.contentContainer {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content {
  width: 95%;
}

a {
  text-decoration: none;
  color: inherit;
}

#menuContainer {
  height: 85px;
  width: 100%;
}

#pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

#centerContainer {
  width: 80%;
}

#tagForWakfu {
  display: inline-block;
  text-align: center;
  color: white;
  opacity: 0.9;
  padding: 7px 8px 7px 8px;
  border-radius: 12px;
  position: fixed;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  background: rgba(36, 36, 36, 0.2);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.07);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#textWakfu {
  display: inline;
  margin: 0px 5px;
}

#linkWakfu {
  color: var(--main-cyan-light-color);
}

/* -----------------Modal----------------- */

#info {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in;
  fill: var(--main-bg-light-color);
}

#info:hover {
  scale: 1.15;
  fill: var(--main-cyan-light-color);
  cursor: pointer;
}

#modalContainer {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 27%;
  height: fit-content;
  padding:  15px;
  border-radius: 15px 0px 15px 15px;
  z-index: 5;
  background: rgba( 0, 0, 0, 0.5 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#titleModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#emojiModal {
  height: fit-content;
  width: 50px;
}

#h2Modal {
  display: inline;
  color: var(--main-cyan-light-color);
  font-size: 24px;
  margin-left: 30px;
}

#textModalContainer>p {
  color: white;
  font-size: 13px;
  padding-left: 15px;
}

#linkModalContainer {
  display: flex;
  justify-content: space-around;
}

.linkModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--main-cyan-color);
  color: white;
  transition: all 0.2s ease-in-out;
  margin: 10px 0px;
}

.linkModal:hover {
  background-color: var(--main-cyan-light-color);
}

.customError {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  align-items: center;
  padding-top: 10%;
  color: var(--main-cyan-color);
}

.customError h2 {
  color: var(--main-primary-text);
}

.homepageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.descriptionHome {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  width: 80%;
  align-self: center;
}

.descriptionHome > h2, .descriptionHome > h3 {
  color: var(--main-cyan-color);
}

.descriptionHome > p,ul{
  color: var(--main-primary-text);
}

/* ------------------Craft Hammer------------------ */

.craftButton>svg {
  transition: all 0.3s ease;
}

.craftButton:hover>svg {
  fill: var(--main-cyan-light-color);
  transform: scale(1.15);
}

.deleteButton>svg {
  transition: all 0.3s ease-in-out;
}

.deleteButton:hover>svg {
  fill: rgb(255, 50, 50);
  transform: scale(1.15);
  transform: rotateZ(90deg);
}

.dropMobContainer {
  width: 100%;
}

/* -----------------Twitter----------------- */

.box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: lightblue;
  cursor: pointer;
  position: fixed;
  bottom: 45px;
  left: 48%;
}

.box:hover {
  animation: btnAnime .6s ease forwards;
}
@keyframes btnAnime {
  5% {
    transform: scale(0.8);
  }
  25% {
    background: none;
  }
  50% {
    transform: scale(1.5);
    border: 1px solid #555;
  }
  100% {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #555;
  }
}

.box:hover a {
  animation: fly .6s ease forwards;
}


.box:hover a>svg {
  transition: all 0.2s ease-in-out;
  fill: #34D6D3;
}

@keyframes fly {
  16.6% { transform: translate(50px, -60px) rotate(-60deg); }
  33.33% { transform: translate(50px, -100px) rotate(-120deg); }
  49.8% { transform: translate(0, -120px) rotate(-180deg); }
  66.4% { transform: translate(-50px, -100px) rotate(-240deg); }
  83% { transform: translate(-50px, -50px) rotate(-300deg); }
  100% { transform: translate(0, 0) rotate(-360deg); }
}