#pageContent {
    display: flex;
}

#menuContainer 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:  var(--main-cyan-color);
    height: 100vh;
    padding: 0 10px;
}

.logoSvg {
    margin: 25px 0px;
}
