#pageContent {
    display: flex;
}

#menuContainer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  rgb(27, 134, 132, 1);
    height: 100vh;
    padding: 0 10px;
}

.logoSvg {
    margin: 25px 0px;
}
