#searchbarContainer {
    display: flex;
    justify-content: center;
  }
  
  #searchBar {
    width: 35%;
    height: 50px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 1);
    color: #FFFF;
  }

  #searchIcon {
    height: max-content;
    width: 25px;
    position: relative;
    top: 0.8em;
    right: 3rem;
  }