#formBug {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    color: white;
}

#submitFormBug {
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    background-color: var(--main-cyan-color);
    transition: all 0.2s ease-in
}

#submitFormBug:hover {
    background-color: var(--main-cyan-light-color);
}