.containerRedirectBack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    left: 80px;
    top: 1px;
    transition: all ease-in-out 0.5s;
}

.containerRedirectBack:hover {
    left: 100px;
}

.redirectLabel {
    color: var(--main-cyan-color);
    font-size: 24px;
    margin: 0;
}