.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    background: var(--main-bg-color);
    border-radius: 20px;
    color: var(--main-primary-text);
    transition: all 0.4s;
    margin: 10px;
    padding: 20px;
}

.cardContainer:hover {
    box-shadow: inset 1em 1em 0em 100em var(--main-cyan-color);
    transform: scale(1.05);
}

.cardName {
    margin: 0px;
}

.cardImage {
    margin-bottom: 10px;
}

.cardImage.zone {
    margin-bottom: 10px;
    object-fit: cover;
    width: 200px;
    min-height: 110px;
}

.cardHeader {
    height: 20%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}