.longCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    height: 130px;
    background: var(--main-bg-color);
    border-radius: 18px;
    color: var(--main-primary-text);
    transition: all 0.4s;
    padding: 10px;
}

.longCardContainer.light {
    background: var(--main-bg-light-color);
}

.longCardContainer:hover {
    box-shadow: inset 1em 1em 0em 100em var(--main-cyan-color);
    transform: scale(1.05);
}

.longCardName {
    margin: 0px;
    padding-top: 20px;
    text-wrap: nowrap;
}

.longCardImage {
    margin-bottom: 10px;
    object-fit: cover;
    width: 80px;
}

.cardHeader {
    height: 20%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.longCardData {
    width: 0px;
}

.longCardContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    column-gap: 10px;
    width: 100%;
}

.longCardValue {
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}