.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 130px;
    background: var(--main-bg-color);
    border-radius: 18px;
    color: var(--main-primary-text);
    transition: all 0.4s;
    padding: 10px;
}

.cardContainer:hover {
    box-shadow: inset 1em 1em 0em 100em var(--main-cyan-color);
    transform: scale(1.05);
}

.cardName {
    margin: 0px;
    padding-top: 20px;
}

.cardImage {
    margin-bottom: 10px;
}

.cardHeader {
    height: 20%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.cardDetailsTypeContainer {
    width: 200px;
    margin: 0 20px;
    text-align: center;
    background-color: var(--main-bg-light-color);
    padding: 15px 30px;
}

.cardImageValueContainer {
    display: flex;
    align-items: center;
}

.valueDrops {
   color: var(--main-secondary-text);
   font-weight: 300;
   font-size: 2rem;
}

.cardContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    column-gap: 10px;
    width: 100%;
}

.cardValue {
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}