.titleDropMob {
    color : var(--main-cyan-color);
}

.dropMobContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.cardDropContainer {
   display: flex;
   flex-direction: row;
}