.level {
    width: 100%;
    text-align: right;
    margin : 0px;
}

.rarityContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.rarityLabel {
    margin : 0px;
}

.rarityLabelSmall {
    font-size: 14px;
}

.typeContainer {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-direction: row;
    width: 100%;
}

.typeLabel {
    color: var(--main-secondary-text);
    font-weight: 300;
    margin-left: -10px;
    text-wrap: nowrap;
}

.mobDropsContainer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 60%;
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 11px;
    margin: 15px 25px 0 25px;
    padding: 35px;
}

.titleDropMob {
    width: 64%;
    color : var(--main-cyan-color);
    margin-bottom: 0;
}