.level {
    width: 100%;
    text-align: right;
    margin : 0px;
}

.rarityContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.rarityLabel {
    margin : 0px;
    text-wrap: nowrap;
    white-space: nowrap;
}

.rarityLabelSmall {
    font-size: 14px;
    text-wrap: nowrap;
    white-space: nowrap;
}

.typeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-direction: row;
    width: 100%;
}

.typeContainer.long {
    justify-content: start;
    margin-bottom : 15px;
}

.typeLabel {
    color: var(--main-secondary-text);
    font-weight: 300;
    text-wrap: nowrap;
    white-space: nowrap;
}

.mobDropsContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    width: 100%;
    height: 500px;
    background-color: var(--main-bg-color);
    padding: 10px 0px;
    border-radius: 20px;
    column-gap: 20px;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    border: 4px solid var(--main-bg-color)
}

.cardDetailsTypeContainer {
    margin: 10px;
}

.titleDropMob {
    width: 100%;
    color : var(--main-cyan-color);
    margin-bottom: 0;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
    z-index: 999;
}

.selectedHeader, .selectedOption {
    all: unset;
    width: 100%;
    min-height: 40px;
    background-color: var(--main-cyan-color);
    border-radius: 10px;
    color: var(--main-primary-text);
    font-weight: 600;
    position: relative;
    padding-left: 20px;
    right: 20px;
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selectedHeader:hover, .selectedOption:hover {
    background-color: var(--main-cyan-light-color);
}

.selectedHeader > svg {
    transform: rotate(-90deg);
    padding: 10px;
}

.selectedHeader > svg.active {
    transform: rotate(90deg);
}

.selectedOption {
    border-radius: 0px;
    position: relative;
    top : 10px;
    right: 20px;
    max-width: 100%;
    min-height: 40px;
}

.selectedOption:first-child {
    border-radius: 10px 10px 0px 0px;
}

.selectedOption:last-child {
    border-radius: 0px 0px 10px 10px;
}

/* ----------------Form Report Bug---------------- */

#formBug {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    color: white;
}

#submitFormBug {
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    background-color: var(--main-cyan-color);
    transition: all 0.2s ease-in
}

#submitFormBug:hover {
    background-color: var(--main-cyan-light-color);
}

#modalFormBug {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    height: fit-content;
    padding: 25px;
    border-radius: 20px;
    background: rgba( 5, 5, 5, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: white;
}