.level {
    width: 100%;
    text-align: right;
    margin : 0px;
}

.rarityContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.rarityLabel {
    margin : 0px;
}

.typeContainer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-direction: row;
    width: 100%;
}

.typeLabel {
    color: var(--main-secondary-text);
}