/* ----------------Form Report Bug---------------- */

#formBug {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

#submitFormBug {
    border: none;
    width: 30%;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    background-color: var(--main-cyan-color);
    transition: all 0.2s ease-in
}

#submitFormBug:hover {
    background-color: var(--main-cyan-light-color);
}

#modalFormContainer {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

#modalFormContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: -1;
}

#modalFormBug {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: fit-content;
    padding: 25px;
    border-radius: 20px;
    background: var(--main-bg-color);
    box-shadow: 0 0 0 50rem rgba(0, 0, 0,0.7);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
}

#categorie, #type, #navigateur, #remarques, #images {
    margin-top: 5px;
    border-radius: 8px;
    width: 100%;
    background-color: var(--main-secondary-text);
    color: white;
    padding: 2px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

#categorie option, #type option, #navigateur option, #remarques option {
    background-color: var(--main-secondary-text);
    color: var(--main-bg-color);
}

.formDiv {
    width: 100%;
}