.stasisButton {
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    transition: .3s;
    position: relative;
    margin-bottom: 5px;
}

.stasisButton:hover {
    box-shadow: 0px 0px 10px 3px #ffff;
    cursor: pointer;
}

.stasisValue {
    width: 40px;
    text-align: center;
    color: var(--main-primary-text);
    font-size: 1.5rem;
    position: absolute;
    top: 6px;
}

.stasisBar {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-between;
}