.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.craft {
    width: 500px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    border-radius: 20px 20px 0px 0px;
}

.resources {
    border: solid 5px var(--main-bg-color);
    margin-bottom: 25px;
}

.itemImgName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-size: 30px;
    color: white;
}

.level {
    font-size: 23px;
    color: white;
    margin-left: 25px;
}


.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    box-shadow: 
        rgba(0, 0, 0, 0.09) 
        0px 2px 1px, rgba(0, 0, 0, 0.09) 
        0px 4px 2px, rgba(0, 0, 0, 0.09) 
        0px 8px 4px, rgba(0, 0, 0, 0.09) 
        0px 16px 8px, rgba(0, 0, 0, 0.09) 
        0px 32px 16px;}

.ingredientTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px 20px;
    color: white;
    font-size: 16px;
}

.ingredientQtyCheck {
    display: flex;
}

.inputQty {
    width: 50px;
    margin-right: 25px;
}

.inputText {
    color: white;
}