.titleRecipeIngredient {
    color : var(--main-cyan-color);
}

.recipeIngredientContainer {
    width: 70%;
}

.headTabContainer {
    width: 100%;
    height: 60px;
    background-color: var(--main-bg-color);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}

.tabButton {
    width: 100%;
    height: 100%;
    color: var(--main-secondary-text);
    font-weight: 500;
    font-size: 20px;
    border-bottom: 8px solid var(--main-bg-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.tabButton:not(.active):hover {
    color: var(--main-primary-text);
    border-bottom-color: var(--main-primary-text);
}

.tabButton.active {
    color: var(--main-cyan-color);
    border-bottom-color: var(--main-cyan-color);
}

.tabContent {
    width: 100%;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: hidden;
    overflow-y: auto;
    background-color:  var(--main-bg-color);
    border-radius: 0px 0px 20px 20px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jobLevel {
    font-size: 14px;
    text-wrap: nowrap;
}