.detailsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mobStatsContainer {
    display: flex;
    justify-content: space-around;
    color: #FFFF;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    margin: 0 25px;
    padding: 35px 0px;
    width: 100%;
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

.healthMobContainer {
    display: flex;
    margin-top: 25px;
}

.imageContainer {
    position: relative;
}
  
.imageContainer:hover .tooltip {
    display: block;
}

.actionMovementContainer {
    display: flex;
    flex-direction: column;
}

.valueContainer {
    position: relative;
}

#valueHealth {
    position: absolute;
    top: 23px;
    left: 4px;
    font-size: 32px;
    font-size: 28px;
    font-weight:600;
    width: 95px;
    text-align: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--main-bg-light-color);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 0px;
    opacity: 0; 
    transition: opacity .5s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.actionMovementContainer {
    margin-left: 10px;
}

#valueAction {
    position: absolute;
    top: 21px;
    left: 12px;
    font-size: 18px;
    font-weight: 600;
    width: 35px;
    text-align: center;
}

#valueMovement {
    position: absolute;
    top: 17px;
    left: 11px;
    font-size: 20px;
    font-weight:600;
    width: 35px;
    text-align: center;
}

.helpStatsMobContainer {
    background-color: var(--main-bg-light-color);;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

.lineValue {
    display: flex;
    align-items: center;
}

.lineValue img {
    margin-right: 10px;
}

.valueHelpStats {
    font-style: italic;
    margin-left: 5px;
}

.secondaryStatsMobContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoMobContainer {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.tableStatsMobContainer table {
    color: #fff;
    line-height: 3rem;
    text-align: center;
    border-collapse: separate;
    border-spacing: 60px 0;
    background-color: var(--main-bg-light-color);;
    border-radius: 11px;
    width: 100%;
}

.tableStatsMobContainer th {
    font-style: italic;
}

.typeTitleTable {
    display: flex;
    align-items: center;
}

.typeTitleTable img {
    margin-right: 15px;
}

.levelMobContainer {
    padding-right: 5px;
}

.isCapturableMobContainer {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-light-color);
    padding: 8px;
    border-radius: 20px;
    margin-top: 15px;
}

.isCapturableMobContainer img {
    margin-left: 15px;
}
