#menu
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color:  var(--main-cyan-color);
    height: 50px;
    position: fixed;
    padding: 10px 0px;
    width: 100%;
    z-index: 9;
    column-gap: 80px;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 50px;
    justify-content: flex-start;
    padding-left: 20px;
}

.menuDesc {
    position: absolute;
    overflow: hidden;
    width: 50px;
    top : 70px;
    background-color: var(--main-cyan-color);
    color: var(--main-primary-text);
    border-radius: 10px;
    font-size: large;
    font-weight: 1000;
    height: fit-content;
    padding: 8px 10px;
    z-index: 2;
    width: 0px;
    transition: all 0.5s ease;
    opacity: 0%;
    text-align: center;
}

.logoMenu:hover + .menuDesc {
    width: 120px;
    opacity: 100%;
}

.logoMenu>svg {
    color: var(--main-bg-light-color);
    transition: all 0.3s ease-in-out;
}

.logoMenu:hover>svg {
    color: var(--main-cyan-light-color);
}
