@keyframes change {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.menuDesc {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0.7rem;
    left: 3.4rem;
    background-color: var(--main-cyan-color);
    color: var(--main-primary-text);
    border-radius: 10px;
    font-size: large;
    font-weight: 1000;
    height: fit-content;
    padding: 8px 10px;
    animation: change 0.7s;
    z-index: 2;
}

.logoMenu:hover + .menuDesc {
    display: block;
}