#pageContent {
    display: flex;
}

#menuContainer 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    background:  var(--main-cyan-color);
    height: 100vh;
    padding: 0 10px;
    width: 60px;
    z-index: 9;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.menuDesc {
    position: absolute;
    overflow: hidden;
    left: 4.9rem;
    background-color: var(--main-cyan-color);
    color: var(--main-primary-text);
    border-radius: 0px 10px 10px 0px;
    font-size: large;
    font-weight: 1000;
    height: fit-content;
    padding: 8px 10px;
    z-index: 2;
    width: 0px;
    transition: all 1s ease;
    opacity: 0%;
    text-align: end;
}

.logoMenu:hover + .menuDesc {
    width: 120px;
    opacity: 100%;
}

.logoMenu>svg {
    color: var(--main-bg-light-color);
    transition: all 0.3s ease-in-out;
}

.logoMenu:hover>svg {
    color: var(--main-cyan-light-color);
}
