#cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 230px;
    background: rgba(30, 30, 30, 0.7);
    border-radius: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 10px;
    transition: all 0.4s;
   }

#cardContainer:hover {
    box-shadow: inset 1em 1em 0em 100em rgb(27, 134, 132, 1);
    transform: scale(1.05);
}

#rarityAndLevel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0.5rem;
    width: 100%;
}

#name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#rarity {
    margin-left: 15px;
}

#level { 
    margin-right: 15px;
}

#cardImage {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1.4rem;
}

#nameAndType {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 1.4rem;
}

#type {
    display: flex;
    flex-direction: row;
}

#typeName {
    font-size: 12px;
    color: grey;
}

#typeImage {
    position: relative;
    bottom: 0.5rem;
}